<table class="list">
<thead>
<tr>
  <th>ID</th><th>Created On</th><th>By</th><th style="width:30%">Remarks</th><th>Location</th><th>Submitted On</th><th></th>
</tr>
</thead>
<tbody>
<% ProductionPlan.recent.each do |plan| %>
<tr class="<%= cycle('odd','even') %>">
  <td class='numeric'><%= plan.id %>
  <td><%= plan.created_at.to_s(:date) %>
  <td><%= h(plan.created_by.username) %>
  <td><%= h(plan.remarks) %>
  <td><%= h(plan.location_name) %>
  <td><%= plan.submitted_at.to_s(:date) rescue "N/A" %>
  <td>
  <%= link_to "show", production_plan_path(plan) %>
  <% if plan.bill_of_materials %>| <%= link_to "BOM", bom_production_plan_path(plan) %><% end %>
  </td>
</tr>
<% end %>
</tbody>
</table>
