<tr id="item_<%= item.id %>" class='<%= cycle('odd', 'even') %>'>
  <td><%= item.product.name %></td>
  <% (1..4).each do |i| %>
  <td class="numeric"><%= number_with_precision(item.send("quantity_#{i}"), :precision => 3) %></td>
  <% end %>
  <% unless @production_plan.submitted? %>
  <td style='text-align:right'>
  <%= link_to_remote "delete", {:url => production_plan_production_plan_item_path(@production_plan.id, item.id), :method => :delete,
      :loading => "Element.remove('item_#{item.id}')", :confirm => 'Really delete this item?'}  %>
  </td><% end %>
</tr>

