<h2>Manage</h2>
<ul class="admin_modules">
	<li><%= link_to 'Currencies', admin_currencies_path %></li>
	<li><%= link_to 'Custom Duties', admin_custom_duties_path %></li>
	<li><%= link_to 'Tax Rates', admin_tax_rates_path %></li>
	<li><%= link_to 'Products', admin_products_path %></li>
	<li><%= link_to 'Ingredients', admin_ingredients_path %></li>
</ul>
