<ul class="admin_modules">
	<li><%= link_to 'Users', admin_users_path %> - Add/Edit Users, Change Passwords and Manage Permissions</li>
	<li><%= link_to 'Products', admin_products_path %> - Manage Business Products, Map Formulations and export mappings</li>
	<li><%= link_to 'Formulations', admin_formulations_path %> - Add/Import Formulations from the Stand Alone System</li>
	<li><%= link_to 'Ingredients', admin_ingredients_path %></li>
  <li>Miscellaneous<ul>
	  <li><%= link_to 'Currencies', admin_currencies_path %></li>
	  <li><%= link_to 'Custom Duties', admin_custom_duties_path %></li>
	  <li><%= link_to 'Tax Rates', admin_tax_rates_path %></li>
    </ul></li>
</ul>
