<div class="row">
<div>
	<%= f.label :quantity, "Order Qty #{reqd}" %>
	<%= f.text_field :quantity, :class => 'numeric', :maxlength => 7, :id => "order_quantity_#{@order.id}" %> kg
	<%= tip '10 to 100,000 kgs' %>
</div>
<div>
	<label>Standard Qty</label>
	<span style="text-align:center;display:block;margin:5px 0" id="qty_sales_value"><%= standard_quantity(@order.product) %></span>
</div>
<div>
	<%= f.label :quantity, "Prod Qty" %>
	<%= f.text_field :production_quantity, :class => 'numeric', :maxlength => 7 %> kg
	<%= tip 'if different from <br />Order Qty' %>
</div>
<div>
	<%= f.label :location %>
	<%= f.select :location, Order::LOCATION.collect{|k,v| [v, k.to_s]}, :include_blank => true %>
</div>
<div>
	<%= f.label :priority %>
	<%= f.select :priority, Order::PRIORITY.collect{|k,v| [v, k.to_s]}, :include_blank => true %>
</div>
</div>
