<table class="list">
<thead>
<tr>
<th>Submitted on</th><th></th><th>By</th><th>Orders</th>
</tr>
</thead>
<tbody>
<% @submissions.each do |s| %>
<tr>
	<td><%= (submitted_at = DateTime.parse(s[0])).to_s(:datetime) %> <span class="tip"><%= time_ago_in_words(submitted_at) %> ago</span></td>
	<td><%= link_to 'download', :submitted_at => submitted_at, :user_id => s[1], :format => :csv %>
	<td><%= User.find(s[1]).username %></td>
	<td><%= s[2] %></td>
</tr>
<% end %>
</tbody>
<table>
