<%= render :partial => 'new' %>

<table class="list">
<thead>
<tr><th>Code</th><th style="width:40%">Product</th>
<th class="numeric">Order Qty</th>
<th class="numeric">Prod Qty</th>
<th>Location</th>
<th>Priority</th>
<th></th></tr>
</thead>
<tbody id="order_list">
<% (pending_orders = @logged_in_user.orders.pending).each do |order| %>
<%= render :partial => 'order', :locals => {:order => order} %>
<% end %>

<% if pending_orders.empty? %>
<tr id="empty_order_row"><td colspan="7" class="empty">Start entering orders using the form above...</td></tr>
<% end %>
</tbody>
</table>
<%= javascript_tag "function order_added() { if($('empty_order_row')) Element.remove('empty_order_row'); $('submit_orders_box').show();}" %>

<div style="margin:5px;padding:1px;text-align:center;background-color:#f3f3f3;<%= 'display:none' if pending_orders.empty? %>" id="submit_orders_box" class="curved large">
The above orders need to be submitted once done.
<% form_tag submit_orders_path, :style => 'padding:10px' do %>
<%= submit_tag 'Submit Pending Orders' %>
<% end %>
</div>
