<% scope ||= nil %>
<dl>
  <dt>
    <label for="<%= "record_#{column.name}" %>">
      <%= column.label %>
    </label>
  </dt>
  <dd>
    <input type="hidden" id="record_formulation_id_<%= @record[:id] %>" name="record[formulation_id]"/>
    <input type="text" class="name-input text-input" id="record_formulation_name_<%= @record[:id] %>" name="formulation_name" size="30" value="<%= @record.formulation.name_with_code rescue nil %>"/>
    <div class="auto_complete" id="record_formulation_name_<%= @record[:id] %>_auto_complete"></div>
  </dd>
</dl>
<script type="text/javascript">
//<![CDATA[
var formulation_auto_completer = new Ajax.Autocompleter('record_formulation_name_<%= @record[:id] %>',
			'record_formulation_name_<%= @record[:id] %>_auto_complete',
			'/admin/formulations/auto_complete_formulations', {afterUpdateElement: formulationChanged})
//]]>
function formulationChanged(x, y) {
	id = y.id.match(/\d+/, '');
  $("record_formulation_id_<%= @record[:id] %>").value = id;
}
</script>

