<% form_for :user, :url => account_path(:action => :change_password) do |f| %>
<%= error_messages_for :user %>
<div class="row">
  <label for="current_password">Current Password</label>
  <%= password_field_tag :current_password, '' , :size => 72, :autocomplete => "off" %>
</div>
<div class="row">
  <div>
  <label for="password">New Password</label>
	<%= f.password_field :password, :value => '', :maxlength => 32 %>
  <%= tip 'should contain alphabets and numbers<br /> and be at least 8 characters in length' %> 
</div>
  <div>
  <label for="password_confirmation">Confirm New Password</label>
	<%= f.password_field :password_confirmation, :value => '', :maxlength => 32 %>
  <%= tip 'should match the new password' %>
</div>
</div>
<%= submit_tag 'Change Password' %>
<% end %>
