<% if @errors.present? %>
<h3><%= @errors.size %> Errors</h3>
<table class="grid">
  <thead><tr><th>Line#</th><th>Code</th><th>Formulation</th><th>Error</th></tr></thead>
  <tbody>
  <% @errors.each do |error| %>
  <tr>
    <td><%= error[:line_number] %></td>
    <td><%= error[:code] %></td>
    <td><%= error[:name] %></td>
    <td><%= error[:message] %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>

Update Formulations created on Stand Alone System into FAS. Existing formulations will be overwritten if the Code matches.
<div class="note">Note: The first row of the CSV file is assumed to contain the headers and is <span class="highlight">ignored</span>.</div>
<% form_tag nil, :multipart => true do %>

<div class="row">
  <label for="formulations_file">Upload Formulations (CSV Format)</label>
  <%= file_field_tag "formulations_file" %>
  <%= tip "Field Format: Code, Forlulaiton Name" %>
</div>
<%= submit_tag "Import &raquo;" %>
<%= cancel_link admin_formulations_path %>
<% end %>
