<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><%= @title %> | SHK FAS</title>
<%= stylesheet_link_tag 'reset-min', 'default', 'form', 'auto_complete', 'niftyCorners', :cache => 'style' %>
<!-- <%= stylesheet_link_tag 'black' %>-->
<%= javascript_include_tag 'prototype', 'effects', 'controls', 'application', 'niftycube', :cache => "script" %>
<!--[if IE]>
<link href="/stylesheets/ie_sux.css" media="all" rel="Stylesheet" type="text/css" />
<![endif]-->
<%= active_scaffold_includes %>
<%= calendar_date_select_includes "default" %>
