<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%= render :partial => 'layouts/meta_head' %>
</head>
<body>
<%= render :partial => 'layouts/header' %>

<div class="curved_top" style="background-color:#bbb;">
<ul id="menu" class="side_by_side">
	<li <%= 'class="current"' if params[:controller] == 'orders' %>><%= link_to 'Orders', orders_path %></li>
	<li <%= 'class="current"' if params[:controller] == 'ingredients' %>><%= link_to 'Ingredients', ingredients_path %></li>
<li><a href="#">Manage Users</a></li>
</ul>
<br clear="all"/>
</div>
<div class="curved_topi" style="background-color:#eee;">
<%= render :partial => "#{params[:controller]}/nav" %>
<br clear="all"/>
</div>
<br clear="all"/>

<% if @title %><h1 class="page_title"><%= h @title %></h1><% end %>
<%= flash_message %>
<%= yield %>
<%= render :partial => 'layouts/footer' %>
</body>
</html>
